
<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Marian Padilla</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>

  <body>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Marian Padilla</h1>
          <p class="lead text-muted">Passionate about technology, with very versatile knowledge and experience, I started as IT Support, then system administrator, IT Auditor, Data Analyst, and working on independent projects as a Software Developer, I am currently pursuing a certification in project management. Expertis in problem solving, process automation and I like to be a great support in work teams. Strong analytical skills focused on delivering exceptional results. Outside of work, I am passionate about volunteering in social, environmental and animal welfare activities. I love learning new things and enjoy helping others, both professionally and personally.</p>
          <p>
            <a href="mailto:marianjpadilla@gmail.com" class="btn btn-primary my-2">Email Me</a>
          </p>
          <img src="{% static 'Marian.jpg' %}" height="300" />
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
              {% for job in jobs.all %}

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ job.image.url }}">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                   <div class="btn-group">
                      <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'detail' job.id %}">Detail</a>
                    </div>
                    <small class="text-muted">{{ job.summary }}</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.js' %}" ></script>
    <script src="{% static 'jquery-3.3.1.min.js' %}" ></script>
  </body>
</html>
